.catalog-title-container {
    display: grid;
	grid-template-columns: 0.5fr 1.5fr;

}


.lab-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	// background-color: #dadadab9;
}


.tab-list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;

}

.tab {
    margin-left: 50px;
}

.tab-button {
    margin: 0px 20px 0px 20px;
    font: 500 20px/ 140% var(--font-family);
    color: var(--color-title);
    display: inline-block;
    cursor: pointer;
    border: none;
    transition: color 0.3s;
    border-bottom: 1px solid #d2d2d2;
}

.active {
	color: var(--button-color-hover)
}

.tab-button.active {
    border-color: var(--button-color-hover); 
}

.tab-button:hover {
    color: var(--button-color-hover);
}
.tab-button.selected {
    border-color: var(--button-color);
    transition: color 0.2s, border-color 0.2s;
}