@font-face {

  font-family: Intro;
  src: url(../font/intro-regular.ttf);
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Intro", sans-serif;
  margin: 0;
  background: url(../assets/geometry.png);
}

.desktop_2-1{
  /* width: 90%; */
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 2%;
  padding-bottom: 10%;
}

.desktop-2-3{
  width: 99%;
  min-width: 1200px;
  display: flex;
  flex-direction: row;
  background-color: white;
  /* padding-top: 2%; */
  /* padding-bottom: 99%; */
}

.scroll-desktop{
  overflow-y: hidden;
}

.text{
  text-align: left;
  font-size: 22pt;
  font-weight: 500;
  position: relative;
  margin-left: 30px;
  /* min-width: 780px; */
  max-width: 600px;
}

.text-5-4{
  text-align: left;
  font-size: 20pt;
  font-weight: 500;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  /* min-width: 780px; */
  max-width: 800px;
}

.footer {
  background-color: #F2F2F2;
  border-radius: 20px 20px 0 0;
  position: fixed;
  bottom: 0;
  width: 27%;   
  align-self: center;
  display: flex;
  justify-content: center;
}

.header  {
  margin: 10px;
  text-align: center;
  font-size: 30pt;
  font-weight: 700;
  color: #484282;
  flex-shrink: 0;
}

.button {
  border: none;
  margin: 5px;
  width: 150px;
  height: 70px;
  border-radius: 12px;
  text-align: center;
  font-size: 18pt;
  cursor: pointer;
  background-color: #484282;
  color: white; 
}

.button:hover {
  background-color: #e69b45;
}




 
/* Стили для скролла */
::-webkit-scrollbar {
	width: 5px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}


.header-1  {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 30pt;
  font-weight: 700;
  color: #484282;
  flex-shrink: 0;
}


.header-2  {
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
  font-size: 30pt;
  font-weight: 550;
  color: black;
  flex-shrink: 0;
}




.button {
  border: none;
  margin: 5px;
  width: 150px;
  height: 70px;
  border-radius: 12px;
  text-align: center;
  font-size: 18pt;
  cursor: pointer;
  background-color: #484282;
  color: white; 
}

.button:hover {
  background-color: #e69b45;
}





.table-desktop-2-3 table {
	position: relative;
  margin-left: 10px;
  border-collapse: collapse;
}

.table-desktop-2-3 tbody td, th {
	text-align: left;
  border: 1px solid white;
	padding: 10px 15px;
  
	font-size: 20pt;
	vertical-align: top;
}
.table-desktop-2-3 tbody tr:nth-child(even){
	background: white;                              
}

.table-desktop-2-3 tbody tr:nth-child(odd){
	background: #F7F7F7;                              
}


.table-desktop-2-5 table {
	position: relative;
  margin-left: 100px;
  border-collapse: collapse;
}

.table-desktop-2-5 tbody td, th {
	text-align: left;
  border: 1px solid white;
	padding: 10px 15px;
  
	font-size: 20pt;
	vertical-align: top;
}
.table-desktop-2-5 tbody tr:nth-child(even){
	background: white;                              
}

.table-desktop-2-5 tbody tr:nth-child(odd){
	background: #F7F7F7;                              
}

.table-desktop-5-1 table {
	position: fixed;
  left: 1000px;
  border-collapse: collapse;
}

.table-desktop-5-1 tbody td, th {
	text-align: left;
  border: 1px solid white;
	padding: 10px 15px;
  
	font-size: 20pt;
	vertical-align: top;
}
.table-desktop-5-1 tbody tr:nth-child(even){
	background: white;                              
}

.table-desktop-5-1 tbody tr:nth-child(odd){
	background: #F7F7F7;                              
}




.image{
  position: relative;
  top: 10px; 
  left: 40px;
}

.image-1{
  position: relative;
  top: 10px; 
  right: 1px;
}

.image-4{
  height: 700px;
  position: relative;
  top: 10px; 
  right: 1px;
}

.canvas{
  position: absolute;
}


.important{
  width: 80%;
  border: 6px solid #484282;
  border-radius: 30px;
  padding: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.icon{
  position: absolute;
  left: 10px;
  top: 510px;
}



.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rebeccapurple;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}