* {
	margin: 0;
	padding: 0;
}

body {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.header {
  align-items: center;
  font-size: 24pt;
  font-weight: 550;
  color: #572380;
}

.intro-img { 
  cursor: pointer;
}

.button {
  border: solid 5px #572380;
  align-self: center;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.button1 {
  border: solid 5px #572380;
}

.button1:hover {
  border: solid 5px #e69b45;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}