<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  
  <link rel="stylesheet" href="../styles/about.css"/>
</head>
<body>
<div class="desktop-2-1">
  <p class="header">О программе</p>
  <div class="text">
      <p>Электронное учебное пособие по изучению работы нелинейных локаторов. </p> 
      <p>Авторские права: Михайлова Дарья Витальевна, Ветров Игорь Анатольевич. </p> 
      <p>Все права защищены.</p> 
  </div>
  <div class="footer">
    <button class="button" onclick="nextPage('desktop-1.html')">Меню</button>
  </div>
</div>
<script src="../app/index.js"></script>
</body>
</html>