<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-7.css"/>
</head>
<body>
<div class="desktop-2-1">
  <p class="header">Работа с изделием</p>
  <div class="desktop-4">
    <div class="text-desktop-4">
    
          <div class="text">
            <p>12. При необходимости возможно изменение длины телескопической штанги, для чего необходимо открыть фиксаторы.
              Для изменения положения антенной системы относительно телескопической штанги необходимо обязательно ослабить винт фиксатора.</p>
              <p>13. По окончании работы выключить изделие. Вынуть аккумуляторы, сложить телескопическую штангу, отключить головные телефоны 
                и уложить изделие в сумку-укладку. Уложить комплект ЗУ, аккумуляторы, имитатор и кронштейн в полости кармана сумки-укладки. Закрыть клапан кармана. </p>
          </div>
          


    </div>

    <div class="slideshow-container">

      <div class="mySlides fade">
        
        <img src="../assets/desk-7/img-2.png" style="width:100%">
        
      </div>
      
      <div class="mySlides fade">
        
        <img src="../assets/desk-7/img-2-1.png" style="width:100%">
      
      </div>
      
      <div class="mySlides fade">
      
        <img src="../assets/desk-7/img-3.png" style="width:100%">
      
      </div>
      
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>
      
    </div>
      <br>

  
  <div class="footer">
    <button class="button" onclick="nextPage('desktop-7-2.html')">Назад</button>
    <button class="button" onclick="nextPage('desktop-1.html')">Меню</button>
  </div>
</div>
<script src="../app/gallery.js"></script>
<script src="../app/index.js"></script>
</body>
</html>