<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-1.css"/>
</head>
<body>
<div class="desktop_1">
  <p class="header">Общая информация</p>
  <div class="group_main_menu"> 
    <div class="group_menu_buttons">
      <button class="button button1" onclick="nextPage('desktop-2-1.html')">Назначение</button>
      <button class="button button1" onclick="nextPage('desktop-2-2.html')">Технические&nbspхарактеристики</button>
      <button class="button button1" onclick="nextPage('desktop-2-3.html')">Перечень&nbspоборудования</button>
      <button class="button button1" onclick="nextPage('desktop-2-4.html')">Схема&nbspсоединения</button>
      <button class="button button1" onclick="nextPage('desktop-2-5.html')">Габариты&nbspкомпонентов</button>
      <button class="button button1" onclick="nextPage('desktop-2-6.html')">Пример&nbspсети</button>
      <button class="button button1" onclick="nextPage('desktop-1.html')">Назад</button>
      <!-- <div class="group-1-H98">Page 01</div> -->
    </div>
    <div class="image"><img src="../assets/nr2.png"></div>
  </div>
</div>
<script src="../app/index.js"></script>
</body>
</html>