<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-2.css"/>
</head>
<body>
<div class="desktop-2-1">
  <p class="header">Общие сведения</p>
  <div class="text">
      <p><b>Нелинейная локация</b> – это процесс обнаружения и определения местоположения устройств, содержащих нелинейные электронные компоненты, при облучении их зондирующим 
         сигналом с последующим анализом переизлученных сигналов на высших гармониках частоты передатчика. Обнаружение происходит вне зависимости от того, находится ли 
         устройство в активном состоянии или нет.  
        </p>
      <p><b>Нелинейный объект</b> – объект, обладающий нелинейной вольт-амперной характеристикой (ВАХ). К ним относятся диоды, транзисторы, микросхемы, контакты металл-окисел-металл 
        (МОМ-диод). К простейшему нестабильному МОМ-диоду относится и классическая двуокись железа - ржавчина.
        </p>
      <p>Процесс наблюдения в условиях нелинейной локации полностью аналогичен традиционной локации для случая наблюдения объектов с активным ответом в режиме опознования, 
        при этом <b>уравнение нелинейной радиолокации</b> имеет следующий вид:</p> 
      <p>$$ P_{Nпр.}=\frac{P_{изл.}G_{изл.}G_{Nпр.}\lambda^{2}}{\left(4\pi r\right)^{2}}\cdot\frac{\lambda^{2}}{N^{2}}\cdot G_{НОпр.}G_{Nизл.}\cdot \xi_{N}\left(\omega , P_{изл.} \right) \cdot K_{1}\left(\omega\right)K_{2}\left(\omega_{N}\right) $$
      </p>
      <p>\(P_{Nпр.}\) - мощность отклика объекта на N-ой гармонике в месте расположения приемной антенны локатора, </p>
      <p>\(P_{изл.} \) - мощность излучения локатора, </p>
      <p>\(G_{изл.} \) - коэффициент усиления излучающей антенны локатора, </p>
      <p>\(G_{Nпр.} \) - коэффициент усиления приемной антенны локатора на N -ой гармонике,</p> 
      <p>\(\lambda=\frac{c}{f} \) - длина волны излучения локатора (эквивалентна частоте, где с - скорость света, f - частота излучения локатора), </p>
      <p>\(r\) - расстояние до объекта, </p>
      <p>\(N\) - номер принимаемой локатором гармоники, </p>
      <p>\(G_{НОпр.} \) - коэффициент усиления эквивалентной приемной антенны нелинейного объекта, </p>
      <p>\(G_{Nизл.} \) - коэффициент усиления эквивалентной излучающей антенны нелинейного объекта, </p>
      <p>\(K_{1}\left(\omega\right) \) - частотно-зависимый коэффициент затухания зондирующего сигнала локатора в среде распространения, </p>
      <p>\(K_{2}\left(\omega_{N}\right) \) - частотно-зависимый коэффициент затухания сигнала N -ой гармоники от объекта в среде распространения, </p>
      <p>\(\xi_{N}\left(\omega , P_{изл.} \right) \) - коэффициент нелинейного преобразования для N-ой гармоники, который зависит от частоты и мощности излучения локатора. </p>
      <p>Анализ уравнения нелинейной радиолокации показывает, что мощность на гармониках, излучаемая
        объектом (а значит и эффективность обнаружения при прочих равных условиях),
        растет при увеличении мощности излучения локатора \(P_{изл.} \), снижении частоты его
        излучения \(f\) и номера принимаемой гармоники \(N\). Кроме того, чем ниже частота из-
        лучения локатора, тем меньшие значения имеют коэффициенты затухания \(K_{1} \), \(K_{2} \),
        что также ведет к увеличению мощности сигнала от объекта.
        </p>
  </div>
  <div class="footer">
    <button class="button" onclick="nextPage('desktop-2-1.html')">Назад</button>
    <button class="button" onclick="nextPage('desktop-2.html')">Меню</button>
    <button class="button" onclick="nextPage('desktop-2-2-2.html')">Далее</button>
  </div>
</div>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="../app/index.js"></script>
</body>
</html>