<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/desktop-2-5.css" />
  </head>
  <body>
    <div class="desktop_2-1">
      <p class="header">Конструкция</p>
      <p class="header-2">Антенна</p>
      <div class="desktop-2-3">
        <div class="text">
          <p>
            На конце раздвижной телескопической штанги размещена антенна. Внутри
            штанги проходит кабель, неразъемно соединяющий антенну с
            приемопередатчиком. Антенная система поворачивается в двух
            плоскостях. 
             
          </p>
          <p>Для поворота антенны необходимо ослабить винт фиксатора.</p>
          <p>Для вращения антенны относительно оси штанги необходимо открыть
            защелку 1.</p>
          <p>Для изменения длины штанги ослабить защелки 2 и 3.</p>
        </div>
        <div class="slideshow-container">
          <div class="mySlides fade">
            <img src="../assets/desk-7/img-2.png" style="width: 100%" />
          </div>

          <div class="mySlides fade">
            <img src="../assets/desk-7/img-2-1.png" style="width: 100%" />
          </div>

          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
        <br />
      </div>

      <div class="footer">
        <button class="button" onclick="nextPage('desktop-5.html')">
          Назад
        </button>
        <button class="button" onclick="nextPage('desktop-2.html')">
          Меню
        </button>
      </div>
    </div>
    <script src="../app/gallery.js"></script>
    <script src="../app/index.js"></script>
  </body>
</html>
