<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/desktop-2-5.css" />
  </head>
  <body>
    <div class="desktop_2-1">
      <p class="header">Конструкция</p>
      <p class="header-2">Телефоны головные</p>
      <div class="desktop-2-3">
        <div class="text-5-4">
          <p>
            Головные  телефоны  можно  подключить  как  к  разъему на  блоке  радиолокационном,  так  и  к  приемнику  радиоканала. 
            Приемник  радиоканала  оператор  может  расположить  в  карманах одежды.        Передатчик        радиоканала        находится        
            внутри радиолокационного блока. Питание приемника радиоканала головных осуществляется от входящих  в  комплект  изделия  элементов  
            питания  типоразмера ААА.     Включение    и    выключение    приемника    радиоканала осуществляется кнопкой на его лицевой панели. 
             

          </p>

          <div class="important">
            <p><b style="color:#484282">ВНИМАНИЕ!</b>  Для  корректной         работы приемника       радиоканала,       его       включение необходимо    производить    после   
              включения основного блока радиолокатора в следующем порядке:  нажать  кнопку  «СН»,  подключить  головные  телефоны к  приемнику  радиоканала,  включить  питание приемника радиоканала.
                      
            </p>
          </div>
          
          <img class="icon" src="../assets/desk-7/icon-1.png">
        </div>
        
        <div><img class="image-4" src="../assets/headphones.png" /></div>
      </div>

      <div class="footer">
        <button class="button" onclick="nextPage('desktop-2-5.html')">
          Назад
        </button>
        <button class="button" onclick="nextPage('desktop-2.html')">
          Меню
        </button>
      </div>
    </div>
    <script src="../app/index.js"></script>
  </body>
</html>
