<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-7.css"/>
</head>
<body>
<div class="desktop-2-1">
  <p class="header">Работа с изделием</p>
  <div class="desktop-4">
    <div class="text-desktop-4">
    
          <div class="text">
            <p>10. При поиске направлять антенную систему на обследуемые поверхности и перемещать ее вдоль этих поверхностей.
              </p>
              <p>При появлении в головных телефонах тонального сигнала частоты ~250 Гц, меняя ориентацию и положение антенной системы, 
                изменяя излучаемую мощность кнопками PWR (+,-) и чувствительность приемников кнопками ATT (+,-), по максимуму
                уровня сигнала в головных телефонах и на индикаторе пульта
                управления добиться локализации сигнала-отклика. </p>
          </div>
          

    </div>
  <div class="flesh">
    <img class="image" src="../assets/desk-7/gif-1.gif">
  </div>
  <div class="footer">
    <button class="button" onclick="nextPage('desktop-7.html')">Назад</button>
    <button class="button" onclick="nextPage('desktop-1.html')">Меню</button>
    <button class="button" onclick="nextPage('desktop-7-2.html')">Далее</button>
  </div>
</div>

<script src="../app/index.js"></script>
</body>
</html>