<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/desktop-2-5.css" />
  </head>
  <body>
    <div class="desktop_2-1">
      <p class="header">Конструкция</p>
      <p class="header-2">Имитатор</p>
      <div class="desktop-2-3">
        <div class="text">
          <p>
            Имитатор (эквивалент объекта поиска) служит для проверки
            работоспособности изделия. Он представляет собой пластиковый цилиндр
            диаметром 14 мм и длиной 165 мм, внутри которого находится
            полупроводниковый диод 2Д521А.
          </p>
        </div>
        <div><img class="image" src="../assets/imitator.jpeg" /></div>
      </div>

      <div class="footer">
        <button class="button" onclick="nextPage('desktop-2-5.html')">
          Назад
        </button>
        <button class="button" onclick="nextPage('desktop-2.html')">
          Меню
        </button>
      </div>
    </div>
    <script src="../app/index.js"></script>
  </body>
</html>
