<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/desktop-2-3.css" />
  </head>
  <body>
    <div class="desktop-2-3">
      <p class="header">NR-900S</p>
      <p class="header-3-1">Нелинейный локатор</p>
      <div class="desktop-2-3-1">
        <div class="group-desktop-2-3-1">
          <div class="box pastries" id="pastries">
            <button data-target="1" class="box item">Назначение</button>
            <button data-target="2" class="box item">
              Технические характеристики
            </button>
          </div>
          <div class="box" id="textInfo">
            <div data-index="1" class="innerText">
              <p class="header-2">Назначение</p>
              <p>
                Детектор нелинейных переходов NR-900S предназначен для поиска
                скрытых подслушивающих устройств, а также других электронных
                устройств, содержащих полупроводниковые элементы. </p>
                <p>Типичные цели
                NR-900S: радиомикрофоны, микрофонные усилители, проводные
                микрофоны, устройства с ИК- или ультразвуковыми каналами
                передачи данных и управления, видео- и аудиомагнитофоны,
                электронные таймеры, приводные устройства самодельных взрывных
                устройств и т.д. NR-900S может обнаруживать типичные цели в
                любом рабочем режиме: активном, ждущем или даже выключенном.</p>
                <p> NR-900S обеспечивает всесторонние возможности поиска и надежную
                локализацию "жучков" в тканевых конструкциях, мебели и различных
                предметах офиса или дома. NR-900S предоставляет своему оператору
                возможность различать промышленные электронные элементы и
                контакты металл-металл, так называемые “коррозионные диоды”.
              </p>
            </div>
            <div data-index="2" class="innerText">
              <p class="header-2">Технические характеристики</p>

              <div class="scroll-table">
                <div class="scroll-table-body">
                    <table >
                        <tbody>
                            <tr>
                                <td style="width:60%">Средняя выходная мощность </td>
                                <td>400 мВт</td>
                            </tr>
                            <tr>
                                <td>Режимы работы</td>
                                <td>«ПОИСК», «ПРОСЛУШИВАНИЕ»</td>
                            </tr>
                            <tr>
                                <td>Индикация уровня принимаемых сигналов</td>
                                <td>световая, звуковая</td>
                            </tr>
                            <tr>
                                <td>Вид модуляции </td>
                                <td>амплитудно-импульсная</td>
                            </tr>
                            <tr>
                                <td>Ослабление мощности зондирующего сигнала</td>
                                <td>3 ступени по 6 дБ</td>
                            </tr>
                            <tr>
                                <td>Ослабление уровня входного сигнала приемников </td>
                                <td>4 ступени по 10 дБ</td>
                            </tr>      
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
          </div>
        </div>
        <div class="image-2-3">
          <img src="../assets/locator/nr-900s.png" />
        </div>
      </div>

      <div class="footer">
        <button class="button" onclick="nextPage('desktop-2-3-2.html')">
          Назад
        </button>
        <button class="button" onclick="nextPage('desktop-2-3.html')">
          Меню
        </button>
        <button class="button" onclick="nextPage('desktop-2-3-4.html')">
          Далее
        </button>
      </div>
    </div>
    <script src="../app/mouseClick.js"></script>
  </body>
</html>
