<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/intro.css"/>
</head>
<body>
<div class="desktop_4">
  <div class="group_intro">
    <div class="header">Электронное учебное пособие</div>
    <div class="header">Детектор нелинейных переходов NR-2000</div>
    <button type="submit" onclick="nextPage('desktop-1.html')"><img src="../assets/nr1.png"/></button>
    <div class="header">Калининград 2024</div>
  </div>
</div>
<script src="../app/index.js"></script>
</body>
</html>