
.login-form {
  margin-top: 125px;
  margin-left: 35%;
  margin-right: 35%;
  background: rgba(178, 181, 187, 0.424);
  border-radius: 25px

}

.form-signin {
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
  padding-bottom: 50px;
}

.login-title {
  text-align: center; 
  font: 400 30px / 140% var(--font-family);
  margin-bottom: 1rem;
}

.form-floating {
    position: relative;
    margin-bottom: 15px;
}

.form-control.error {
  background-color: rgba(244, 68, 68, 0.961)
}

.form-floating>.form-control:not(:placeholder-shown)~label::after {
  background-color: transparent
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-login {
    font: 400 17px / 140% var(--font-family);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
}

.sign-up {
    max-width: 400px;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.registration {
    display: inline-block;
    font-family: var(--font-family);
    font-size: 17px;
    border: none;
    cursor: pointer;
    background: rgba(241, 79, 79, 1);
    border-radius: 10px;
    color: #ffffff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    transition: all 0.3s;
}
  
  .registration:hover {
    background: rgb(228, 74, 74);
}

.loading {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.error-message {
  text-align: center;
  color: red
}