.catalog {
	display: block;
	padding: 60px 0;
}

.catalog-title {
	// margin: 0;
	// margin-bottom: 0px;
	font:  700 30px/ 140% var(--font-family);
	color: var(--color-title)
}

//   LEFT

.catalog-list__labs {
	grid-column: 3 span;

	// border-right: 1px solid #d2d2d2;
	// padding-right: 50px;
}

.list-name {
	margin: 0;
	margin-bottom: 20px;
	font: 400 24px / 24px var(--font-family);
	color: var(--color-title)
}

.fieldset {
	border: none;
	margin: 5px 0 5px 0;
	padding: 10px 3px 5px 0;
	border-bottom: 1px solid #d2d2d2;
}

.expand-collapse-button {
	background: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	text-align: center;
}

.expand-collapse-button:hover h3.lab-name {
	color: var(--button-color-hover)
}

.lab-name {
	font: 500 24px / 24px var(--font-family);
	margin: 0;
	margin-right: 10px;
	text-align: left;
	hyphens: manual;
	color: var(--color-title)
}

.img__arrows {
	width: 20px;
	height: 20px;
	transform: rotate(90deg);
	transition: 0.4s ease;
}

.expand-collapse-button.open .img__arrows {
	transform: rotate(0deg);
}

.expand-collapse-button.open .img__arrows {
	transform: rotate(0deg);
}

.group {
	max-height: 0;
	z-index: 1;
	overflow: hidden;
	transition: max-height 0.4s ease-in-out, opacity 0.4s ease;
	padding-bottom: 0;
}

.group-open {
	max-height: 200px;
}

.group__links {
	margin-top: 10px;
	padding: 0;
	list-style-type: none;
}

.group__items {
	margin-left: 20px ;
	display: block;
	list-style-type: none;
	font: 500 20px / 20px var(--font-family);
	margin-bottom: 10px;
	transition: color 0.4 ease;
	cursor: pointer;
	color: var(--color-title)
}


.active {
	color: var(--button-color-hover)
}

.group__items:hover {
	color: var(--button-color-hover)
}

.catalog-frame {
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	-moz-user-select: none;
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}