.catalog {
	display: block;
	padding: 60px 0;
}

.main__container {
	border: 0px solid;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1500px;
}

.catalog-title {
	margin: 0;
	margin-bottom: 40px;
	font:  700 30px/ 140% var(--font-family);
	color: var(--color-title)
}

//   LEFT

.catalog-list__labs {
	grid-column: 3 span;
}

.list-name {
	margin: 0;
	margin-bottom: 20px;
	font: 400 24px / 24px var(--font-family);
	color: var(--color-title)
}

.fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.expand-collapse-button {
	background: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	// justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 10px 3px 10px 0;
	text-align: center;
}

.expand-collapse-button:hover h3.lab-name {
	color: var(--button-color-hover)
}

.lab-name {
	font: 500 24px / 24px var(--font-family);
	margin: 0;
	margin-right: 10px;
	text-align: left;
	hyphens: manual;
	color: var(--color-title)
}

.img__arrows {
	width: 20px;
	height: 20px;
	transform: rotate(90deg);
	transition: 0.4s ease;
}

.expand-collapse-button.open .img__arrows {
	transform: rotate(0deg);
}

.expand-collapse-button.open .img__arrows {
	transform: rotate(0deg);
}

.group {
	max-height: 0;
	z-index: 1;
	overflow: hidden;
	transition: max-height 0.4s ease-in-out, opacity 0.4s ease;
	padding-bottom: 0;
}

.group-open {
	max-height: 200px;
}

.group__links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.group__items {
	margin-left: 20px ;
	display: block;
	list-style-type: none;
	font: 500 20px / 20px var(--font-family);
	margin-bottom: 10px;
	transition: color 0.4 ease;
	cursor: pointer;
	color: var(--color-title)
}

.group__items:hover {
	color: var(--button-color-hover)
}

