
@import "./header.scss";
@import "./intro.scss";
@import "./catalog.scss";
@import "./labs.scss";
@import "./auth.scss";


@font-face {
    font-family: Intro;
    src: url('./fonts/intro-regular.eot'); 
    src: url('./fonts/intro-regular.eot?#iefix') format('embedded-opentype'), 
         url('./fonts/intro-regular.woff2') format('woff2'),
         url('./fonts/intro-regular.woff') format('woff'),
         url('./fonts/intro-regular.ttf') format('truetype');
}


:root {
	--font-family: "Intro", sans-serif;
	--color-white: rgba(251, 251, 255, 1);
	--button-color: rgba(127, 86, 217, 1);
	--button-color-hover: rgb(112, 74, 189);
	--background--color: #484283;
	--color-border: rgba(255, 255, 255, 0.5);
	--color-title: #444b58;
    
}

body {
    font-family: var(--font-family);
    background-color:  var(--color-white);
	margin: 0;
}


ul { 
	display: block;
	list-style-type: none;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

li {
	display: list-item;
	text-align: inherit;
}

h2 {
	display: block;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.container {
	border: 0px solid;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1500px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 20px;
}


	/* HEADER */

  /* Intro */

  /* Catalog */
