@import "./header.scss";
@import "./intro.scss";

@import "./sims-overview.scss";

@import "./notAuthorized.scss";

@font-face {
  font-family: Intro;
  src: url("./fonts/intro-regular.eot");
  src: url("./fonts/intro-regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/intro-regular.woff2") format("woff2"),
    url("./fonts/intro-regular.woff") format("woff"),
    url("./fonts/intro-regular.ttf") format("truetype");
}

:root {
  --font-family: "Intro", sans-serif;
  --color-white: #fff;
  --button-color: rgba(127, 86, 217, 1);
  --button-color-hover: rgb(112, 74, 189);
  --background--color: #484283;
  --color-border: rgba(255, 255, 255, 0.5);
  --color-title: #444b58;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-white);
  margin: 0;
  // background-color: #c9d6ff;
  // background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: inherit;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.main {
  margin: auto;
  margin-top: 130px;
  margin-bottom: 35px;
}

.container {
  border: 0px solid;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1800px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  // height: 1000px;
}

.error-message {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: rgb(255, 0, 0);
}

.error-input {
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.759);
  color: rgba(255, 0, 0, 0.759);

  &:focus {
    // color: rgba(255, 0, 0, 0.759);
    border-color: rgba(255, 0, 0, 0.759);
    outline: 0;
  }
}


/* HEADER */

/* Intro */

/* Catalog */
