.verify {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.verify-container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 700px;
  max-width: 100%;
  min-height: 580px;

  h1 {
    text-align: center;
    margin-top: 3rem;
    font: 600 35px / 140% var(--font-family);
    margin-bottom: 1rem;
  }

  p {
    text-align: center;
    color: #000;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.3px;
    margin: 30px 0;
  }
  form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    // height: 30%;

    button {
      background-color: #512da8;
      color: #fff;
      font-size: 16px;
      padding: 10px 45px;
      border: 1px solid transparent;
      border-radius: 8px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin-top: 10px;
      cursor: pointer;

      &:active {
        background-color: #3a2079;
      }
    }
  }

  input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 17px;
    border-radius: 8px;
    width: 70%;
    outline: none;
  }
}

.resend-button {
  margin-top: 10px;
  text-align: center;

  button {
    color: var(--button-color);

    &:hover {
      color: var(--button-color-hover);
    }

    &:active {
      transform: translateY(1px); /* Вдавливается при нажатии */
    }
  }
}
