<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-2.css"/>
</head>
<body>
<div class="desktop-2-1">
  <p class="header">Эффект затухания</p>
  <div class="text">
      <p>
       При прослушивании демодулированного аудио отклика от настоящего полупроводника, по мере приближения к нему антенны уровень шумов
       будет значительно понижаться. И напротив, по мере удаления от него уровень шума начнет возрастать и постепенно вернется к нормальному.
       Демодулированный аудио сигнал достигает наименьшего значения непосредственно над полупроводниковым соединением и увеличивается до нормы
       в стороне от него.</p> 
      <p>При приближении антенны нелинейного локатора к ложному соединению, аудио шум может усилиться и достигнуть своего максимального значения непосредственно над
       ним или в некоторых случаях слегка уменьшиться. По мере удаления антенны ЛН аудио шум вернется к обычной норме.</p> 
      <div class="image" align="center"><img src="../assets/audio.png"></div>
      <p> 
       На рисунке изображены кривые аудио шума для полупроводника (красная линия) и ложного соединения (зеленая линия).
       Если локатор излучает немодулированный сигнал, то сигнал отклика на частотах гармоники также будет немодулированным и будет наблюдаться эффект затухания.
       В нелинейном локаторе NR-2000 реализован режим "20К", который основан на "эффекте затухания" и
       используется как способ распознавания типов соединений.
      </p>
  </div>
  <div class="footer">
    <button class="button" onclick="nextPage('desktop-2-2-3.html')">Назад</button>
    <button class="button" onclick="nextPage('desktop-2.html')">Меню</button>
    <button class="button" onclick="nextPage('desktop-2-2-5.html')">Далее</button>
  </div>
</div>
<script src="../app/index.js"></script>
</body>
</html>