<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-5.css"/>
</head>
<body>
<div class="desktop_2-1">
  <p class="header-1">Общая последовательность действий при выполнении специальных обследований с применением нелинейных локаторов</p>
  <div class="desktop-2-3">
    <div>
        <p>1. В соответствии с инструкцией пользователя включить нелинейный локатор,
          установив выбранные режимы работы. </p> 
        <p>2. Провести мониторинг по обнаружению и (или) устранению сигналов естественных или сопутствующих производственной деятельности помех. 
        </p> 
        <p>3. Установить наибольший уровень чувствительности приемной части и мощности
          зондирующего сигнала.</p> 
        <p>4. Выполнить первый этап обследования. Для этого с расстояния около 1 м произвести сканирование ограждающих конструкций и предметов интерьера с целью обнаружения мощных источников помех. Это могут быть сигналы от находящейся в зоне
          обследования (или в соседних помещениях) оргтехники или другой аппаратуры, а также ложные коррозионные срабатывания. Кроме того, следует принимать во внимание,
          что зондирующий сигнал и отклики на высших гармониках могут переотражаться от
          находящихся вблизи объектов. Хорошими отражателями являются зеркала, металлические пластины и плиты, сетки, армирующие материалы и т. п. В некоторых случаях
          возможна регистрация откликов от подобных отражающих элементов, находящихся
          позади оператора. Если причины ложных срабатываний точно установлены, то (по возможности) источники этих сигналов на высших гармониках должны быть удалены за
          пределы обследуемого помещения. Если удалить подобные источники помех невозможно, то при дальнейшем обследовании следует иметь в виду их точное местоположение. В любом случае подозрительные предметы или элементы конструкций и интерьера
          должны быть детально осмотрены</p> 
        <p>5. После удаления из обследуемого помещения (или соседних помещений) источников, создающих мощные помехи, произвести повторное, более медленное и детальное сканирование всех ограждающих конструкций и предметов интерьера с расстояния
          порядка 0,2 м. В случае регистрации отклика на высших гармониках отметить все подозрительные участки и предметы.</p> 
        <p>6. Выполнить второй этап обследования. Снизить уровень мощности зондирующего сигнала и загрубить чувствительность нелинейного локатора. В таком режиме следует медленно перемещать приемно-передающую антенну нелинейного локатора в области регистрации откликов на высших гармониках и внимательно следить за световой
          и звуковой индикацией прибора. </p> 
        <p>7. Выявить направление прихода отклика на высших гармониках, обладающего
          наибольшим уровнем (определить точное местоположение). В целях выявления ошибки при оценке показаний световых и звуковых индикаторов при достижении их максимальных уровней снижать чувствительность приемника или уменьшать мощность зондирующего сигнала. Эти действия следует повторять до тех пор, пока светодиодный
          индикатор не будет доходить одну-три позиции до конца шкалы. </p> 
        <p>8. Выполнить третий этап обследования — различить отклики на высших гармониках от МОМ-диодов и полупроводниковых элементов. Для этого существует ряд приемов, приведенных ниже. </p> 
    </div>
  </div>
  <div class="footer">
    <button class="button" onclick="nextPage('desktop-1.html')">Меню</button>
  </div>
</div>
<script src="../app/index.js"></script>
</body>
</html>