<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-2.css"/>
</head>
<body>
<div class="desktop-2-1">
  <p class="header">Параметры зондирующего излучения</p>
  <div class="text">
      <p>
        При работе с нелинейными локаторами очень важным параметром является глубина обследуемых областей строительных и инженерных конструкций. 
        Она, прежде всего, зависит от мощности и частоты зондирующего излучения нелинейного локатора. Чем больше мощность зондирующего электромагнитного 
        излучения, тем больше глубина его проникновения в среду и тем выше вероятность обнаружить спрятанное закладное устройство. Однако следует иметь в 
        виду, что работа нелинейных локаторов происходит в области сверхвысоких частот (680—2400 МГц), что при большой мощности излучения оказывает пагубное 
        воздействие на оператора. 
      </p> 
      <p>При уменьшении частоты зондирующего излучения увеличивается интенсивность откликов на кратных гармониках, но ухудшается степень локализации объекта 
        поиска, так как при фиксированных размерах антенны расширяется диаграмма ее направленности. И наоборот: с повышением частоты зондирующего сигнала падает 
        интенсивность откликов на кратных гармониках в связи с возрастанием естественного затухания, но повышается степень локализации поиска закладных устройств. 
        <b style="color:#484282">Таким образом, наиболее приемлемой методикой поиска будет первичный проход на зондирующем излучении с пониженной частотой, а вторичный проход (при условии 
        обнаружения отраженных сигналов на кратных гармониках) — на более высокой частоте.</b> 
      </p> 
  </div>
  <div class="footer">
    <button class="button" onclick="nextPage('desktop-2-2-4.html')">Назад</button>
    <button class="button" onclick="nextPage('desktop-2.html')">Меню</button>
    <button class="button" onclick="nextPage('desktop-2-2-6.html')">Далее</button>
  </div>
</div>
<script src="../app/index.js"></script>
</body>
</html>