<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-2-3.css"/>
</head>
<body>
<div class="desktop-2-3">
    <p class="header">Нелинейные локаторы</p>
    <div class="group_square_buttons">
      <button class="button-square button1" onclick="nextPage('desktop-2-3-1.html')"></button>
      <button class="button-square button2" onclick="nextPage('desktop-2-3-2.html')"></button>
      <button class="button-square button3" onclick="nextPage('desktop-2-3-3.html')"></button>
      <button class="button-square button4" onclick="nextPage('desktop-2-3-4.html')"></button>
      <button class="button-square button5" onclick="nextPage('desktop-2-3-5.html')"></button>

    </div>
    <div class="footer">
        <button class="button" onclick="nextPage('desktop-2.html')">Назад</button>
    </div>
</div>
<script src="../app/index.js"></script>
</body>
</html>