<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-1.css"/>
</head>
<body>
    <div class="group_menu_buttons">
      <p class="header">Главное меню</p>
      <button class="button" onclick="nextPage('desktop-2.html')">Общая&nbspинформация</button>
      <button class="button" onclick="nextPage('desktop-3.html')">Структурные схемы</button>
      <!-- <button class="button" onclick="nextPage('desktop-5.html')">Конструкция</button> -->
      <!-- <button class="button" onclick="nextPage('desktop-6.html')">Рекомендации по работе с нелинейными локаторами</button> -->
      <button class="button" onclick="nextPage('desktop-4.html')">Подготовка к работе</button>
      <button class="button" onclick="nextPage('desktop-7.html')">Работа с изделием</button>
      
      <button class="button" onclick="nextPage('reference.html')">Справка</button>
      <button class="button" onclick="nextPage('about.html')">О&nbspпрограмме</button>
      <!-- <button class="button-menu" onclick="closeWindow()">Выход</button> -->
    </div>
<script src="../app/index.js"></script>
</body>
</html> 