<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-2.css"/>
</head>
<body>
<div class="desktop-2-1">
    <p class="header">Принцип действия</p>
    <div class="text">
        <p>Антенна нелинейного локатора облучает объект для определения наличия
        в нем электронных компонентов. Когда ВЧ сигнал облучает полупроводниковые соединения 
        (диоды, транзисторы и т.д.), он возвращается на гармонических частотах с
        определенными уровнями, благодаря нелинейным характеристикам соединения.
        Однако ложные срабатывания также могут иметь при этом место, из-за того, что
        места соединения двух различных металлов или коррозионные металлические конструкции 
        также вызывают гармонический отраженный сигнал вследствие своих нелинейных характеристик. 
        </p>
        <div class="image" align="center"><img src="../assets/vax-2.png"></div>
        <p>Стоит отметить, что в ответном сигнале, переизлучаемым нелинейным элементом, кроме основной 
        гармоники присутствуют новые составляющие на частотах, кратных частоте зондирующего сигнала. 
        При этом наибольший вклад по энергетическому критерию имеют вторая и третья гармоники. Из-за различия 
        в нелинейных характеристиках полупроводникового и ложного соединений, отклики 2-й и 3-й гармоник будут 
        иметь различную интенсивность. Когда НЛ облучает полупроводник, отклик на второй гармонике сильнее, чем на 3-ей. При
        облучении ложного соединения наблюдается обратный эффект: отклик на 3-ей гармонике сильнее, чем на 2-ой.
        </p>  
        <div class="image" align="center"><img src="../assets/pult-2.png"></div>
    </div>
    <div class="footer">
      <button class="button" onclick="nextPage('desktop-2-2-1.html')">Назад</button>
      <button class="button" onclick="nextPage('desktop-2.html')">Меню</button>
      <button class="button" onclick="nextPage('desktop-2-2-3.html')">Далее</button>
    </div>
</div>
<script src="../app/index.js"></script>
</body>
</html>