<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-3.css"/>
</head>
<body>
<div class="desktop-3">
  <p class="header">Обобщённая структурная схема нелинейного локатора с возможностью анализа по второй и третьей гармоникам</p>
  <div class="group-desktop-3"> 
    <div class="image"><img src="../assets/scheme.png" alt="Workplace" usemap="#workmap" class="map"></div>
    <div class="wrapper">
    
    <div class="box pastries" >
      <map name="workmap" id="pastries">
        <area shape="rect" coords="137,16, 218,83" data-target="1"  class="box item" title="УРЧ">
        <area shape="rect" coords="137,231, 218,298" data-target="1"  class="box item" title="УРЧ">      
        <area shape="rect" coords="255,16, 336,83" data-target="2"  class="box item" title="Смеситель">
        <area shape="rect" coords="255,231, 336,298" data-target="2"  class="box item" title="Смеситель">
        <area shape="rect" coords="255,121, 336,188" data-target="3"  class="box item" title="Гетеродин">
        <area shape="rect" coords="255,336, 336,403" data-target="3"  class="box item" title="Гетеродин">   
        <area shape="rect" coords="374,16, 455,83" data-target="4"  class="box item" title="УПЧ">
        <area shape="rect" coords="374,231, 455,298" data-target="4"  class="box item" title="УПЧ">  
        <area shape="rect" coords="492,16, 570,83" data-target="5"  class="box item" title="Детектор">
        <area shape="rect" coords="492,231, 570,298" data-target="5"  class="box item" title="Детектор"> 
        <area shape="rect" coords="137,452, 218,520" data-target="6"  class="box item" title="Фильтр">
        <area shape="rect" coords="255,452, 336,520" data-target="7"  class="box item" title="УМ">
        <area shape="rect" coords="374,452, 455,520" data-target="8"  class="box item" title="Генератор">
        <area shape="rect" coords="9,7, 107,554" data-target="9"  class="box item" title="Антенный блок">
        <area shape="rect" coords="616,16, 688,520" data-target="10"  class="box item" title="Блок управления">
        <area shape="rect" coords="721,16, 794,273" data-target="11"  class="box item" title="Блок индикации">
        <area shape="rect" coords="721,289, 794,520" data-target="12"  class="box item" title="Пульт управления">
      </map>
      </div>
      <div class="box" id="textInfo">

        <div data-index="0" class="innerText">
          <p>Для отображения инфо иаимлрповиыам</p>
        </div>

        <div data-index="1" class="innerText">
          <p class="header-2">Усилитель радиочастоты (УРЧ)</p>
          <ul>
            <li>выполняет функцию предварительного усиления откликов нелинейного объекта с соответствующих приемных антенн за счет увеличения отношения мощности полезного сигнала к мощности шумов;</li>
            <li>обеспечивают избирательность приемника к сильным помехам, вызывающим нелинейные эффекты;</li>
            <li>ослабляют паразитное излучение гетеродина через входную цепь и антенну.</li>
          </ul>
        </div>
        <div data-index="2" class="innerText">
          <p class="header-2">Смеситель</p>
          <p>Осуществляет преобразование частот в промежуточные путём смешения с сигналами гетеродинов с последующим усилением в УПЧ каждого приемного тракта.</p>
        </div>
        <div data-index="3" class="innerText">
          <p class="header-2">Гетеродин</p>
          <p>Маломощный генератор электрических колебаний, применяемый для преобразования частот сигнала.</p>
          <p>Гетеродин создаёт колебания вспомогательной частоты, которые в блоке смесителя смешиваются с поступающими извне колебаниями высокой частоты. В результате смешения двух частот, входной и гетеродина, образуются ещё две частоты (суммарная и разностная). Разностная частота используется как промежуточная частота, на которой происходит основное усиление сигнала.</p>
        </div>
        <div data-index="4" class="innerText">
          <p class="header-2">Усилитель промежуточной частоты</p>
          <p>Обеспечивает основное усиление сигнала до величины, необходимой для нормальной работы демодулятора.</p>
        </div>
        <div data-index="5" class="innerText">
          <p class="header-2">Детектор</p>
          <p>Элемент для детектирования (демодуляции) электромагнитных колебаний с целью их индикации или выявления закона их изменения во времени. С помощью детектора в приёмных устройствах происходит выделение информации, заложенной в виде амплитудной, частотной или фазовой модуляции несущего сигнала.</p>
        </div>
        <div data-index="6" class="innerText">
          <p class="header-2">Фильтр</p>
          <p>Устройство для выделения желательных компонентов спектра электрического сигнала и/или подавления нежелательных.</p>
          <p>Обеспечивает высокое соответствие излучаемого антенной сигнала зондирования гармоническому сигналу (описывается синусоидальными колебаниями).</p>
        </div>
        <div data-index="7" class="innerText">
          <p class="header-2">Усилитель мощности </p>
          <p>Усилительный каскад, предназначенный для передачи в нагрузку заданной мощности при максимально возможном КПД и минимальных нелинейных искажениях.</p>
        </div>
        <div data-index="8" class="innerText">
          <p class="header-2">Генератор</p>
          <p>По команде блока управления и обработки  начинает формировать непрерывный сигнал, поступающий на излучающую антенну.</p>
        </div>
        <div data-index="9" class="innerText">
          <p class="header-2">Антенный блок</p>
          <p>Состоит из трёх антенн: </p>
          <ul>
            <li>излучающая антенна;</li>
            <li>приемная антенна тракта 2-ой гармоники отражённого сигнала;</li>
            <li>приемная антенна тракта 3-ой гармоники отражённого сигнала.</li>
          </ul>
        </div>
        <div data-index="10" class="innerText">
          <p class="header-2">Блок управления и обработки</p>
          <ul>
            <li>принимает сигналы от пульта управления и приёмных трактов и выдает сигналы на блок индикации и передающий тракт;</li>
            <li>задаёт уровень усиления сигнала на усилители мощности;</li>
            <li>обрабатывает демодулированные сигналы и выдаёт на блоке индикации уровни принимаемых гармоник.</li>
          </ul>
        </div>
        <div data-index="11" class="innerText">
          <p class="header-2">Блок индикации</p>
          <p>Служит для отображения уровней принимаемых гармоник.</p>
          <p>В зависимости от режима работы осуществляется звуковая индикация или прослушивание демодулированного отклика одной из гармоник.</p>
        </div>
        <div data-index="12" class="innerText">
          <p class="header-2">Пульт управления</p>
          <p>Необходим для настройки уровня усиления сигнала.</p>
        </div>
     
      </div>
    </div>
      
    </div>
  </div>
  <div class="footer">
    
    <button class="button" onclick="nextPage('desktop-3.html')">Схемы</button>
    <button class="button" onclick="nextPage('desktop-3-2.html')">Далее</button>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://projects.davidlynch.org/maphilight/jquery.maphilight.min.js"></script>
<script>
  $(function() {
    $('.map').maphilight();
  });
  $.fn.maphilight.defaults = {
	fill: true,
	fillColor: '484282',
	fillOpacity: 0.5,
	stroke: true,
	strokeColor: '000000',
	strokeOpacity: 1,
	strokeWidth: 1,
	fade: true,
	alwaysOn: false,
	neverOn: false,
	groupBy: false,
	wrapClass: true,
	shadow: false,
	shadowX: 0,
	shadowY: 0,
	shadowRadius: 6,
	shadowColor: '00ff00',
	shadowOpacity: 0.8,
	shadowPosition: 'outside',
	shadowFrom: false
}
</script>
<script src="../app/mouseOver.js"></script>
</body>
</html>