<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-2.css"/>
</head>
<body>
<div class="desktop-2-1">
  <p class="header">Режимы зондирующего излучения</p>
  <div class="text">
      <p>
        В среднем мощность нелинейного локатора <b style="color:#484282">непрерывного излучения</b> заключена в пределах от 0,3 до 3 Вт. Пиковая мощность <b style="color:#484282">импульсных нелинейных локаторов</b> составляет от 150 до
        400 Вт, то есть почти на 30 дБ превышает мощность приборов непрерывного излучения. Поскольку эффективность отклика на кратных гармониках зависит не от средней
        мощности зондирующего излучения, а от ее пикового значения, то глубина обнаружения закладных устройств нелинейных локаторов, работающих в импульсном режиме,
        существенно выше, чем у нелинейных локаторов непрерывного действия.
        В целях увеличения глубины обнаружения закладных устройств и эффективной их
        локализации наиболее удачным оказалось решение использовать для зондирующего
        излучения непрерывный и импульсный режимы совместно в одном изделии. 
      </p> 
      <p>Если при помощи нелинейных локаторов предстоит обследовать обширные свободные помещения, то предпочтение следует отдавать импульсным приборам. Они
        обеспечат значительно бóльшую дальность обнаружения скрытых закладных устройств
        по сравнению с нелинейными локаторами непрерывного действия. В случаях, если
        предстоит работа в малогабаритных офисах, то большая дальность обнаружения импульсных нелинейных локаторов будет только помехой, так как подобные помещения,
        а также соседние с ними насыщены электронной техникой и оборудованием, создающим ложные срабатывания и помехи. Необходимая дальность обнаружения в таких
        случаях определяется самим оператором и задается регулированием мощности зондирующего сигнала и режима работы. Как правило, для начала работы бывает достаточно
        исходить из дальности обнаружения 0,5 м.</p>
  </div>
  <div class="footer">
    <button class="button" onclick="nextPage('desktop-2-2-5.html')">Назад</button>
    <button class="button" onclick="nextPage('desktop-2.html')">Меню</button>
  </div>
</div>
<script src="../app/index.js"></script>
</body>
</html>