<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/desktop-2-3.css" />
  </head>
  <body>
    <div class="desktop-2-3">
      <p class="header">NR-CHP</p>
      <p class="header-3-1">Досмотровый нелинейный локатор</p>
      <div class="desktop-2-3-1">
        <div class="group-desktop-2-3-1">
          <div class="box pastries" id="pastries">
            <button data-target="1" class="box item">Назначение</button>
            <button data-target="2" class="box item">
              Технические характеристики
            </button>
          </div>
          <div class="box" id="textInfo">
            <div data-index="1" class="innerText">
              <p class="header-2">Назначение</p>
              <p>
                Детектор нелинейных соединений NR-CHP предназначен для поиска скрытых электронных устройств, содержащих полупроводниковые компоненты. 
                Этот детектор может быть успешно использован для досмотра подозрительных лиц на определенном контрольно-пропускном пункте. NR-CHP 
                может обнаруживать типичную цель в любом рабочем режиме: активном, дежурном или даже выключенном. </p>
                <p>Применяется для выявления запрещенных 
                к проносу электронных устройств (в том числе диктофонов, мобильных телефонов, SIM-карт, цифровых накопителей), а также огнестрельного 
                оружия, самодельных взрывных устройств (электронных систем управления СВУ) в ручной клади и на теле «оператора» на фоне сложной техногенной 
                помехи от городской застройки.
              </p>
            </div>
            <div data-index="2" class="innerText">
              <p class="header-2">Технические характеристики</p>



              <div class="scroll-table">
                <div class="scroll-table-body">
                    <table >
                        <tbody>
                            <tr>
                                <td style="width:60%">Средняя мощность СВЧ сигнала в режиме поиска </td>
                                <td>не более 200 мВт</td>
                            </tr>
                            <tr>
                                <td>Режим работы</td>
                                <td>«Поиск»</td>
                            </tr>
                            <tr>
                                <td>Индикация уровня принимаемых сигналов</td>
                                <td>звуковая</td>
                            </tr>
                            <tr>
                                <td>Вид модуляции </td>
                                <td>амплитудно-импульсная</td>
                            </tr>
                            <tr>
                                <td>Диапазон регулировки мощности зондирующего сигнала</td>
                                <td> 0 дБ, -10 дБ, -20 дБ</td>
                            </tr>
                            <tr>
                                <td>Ослабление уровня входного сигнала приемников </td>
                                <td>2 ступени по 10 дБ</td>
                            </tr>      
                        </tbody>
                    </table>
                </div>
            </div>
                
            </div>
          </div>
        </div>
        <div class="image-2-3">
          <img src="../assets/locator/nr-chp.png">
        </div>
      </div>

      <div class="footer">
        <button class="button" onclick="nextPage('desktop-2-3-3.html')">Назад</button>
        <button class="button" onclick="nextPage('desktop-2-3.html')">Меню</button>
        <button class="button" onclick="nextPage('desktop-2-3-5.html')">Далее</button>
      </div>
    </div>
    <script src="../app/mouseClick.js"></script>
  </body>
</html>








