<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/desktop-2-3.css" />
  </head>
  <body>
    <div class="desktop-2-3">
      <p class="header">NR-2000R</p>
      <p class="header-3-1">Многозональный детектор нелинейных переходов</p>
      <div class="desktop-2-3-1">
        <div class="group-desktop-2-3-1">
          <div class="box pastries" id="pastries">
            <button data-target="1" class="box item">Назначение</button>
            <button data-target="2" class="box item">
              Технические характеристики
            </button>
          </div>
          <div class="box" id="textInfo">
            <div data-index="1" class="innerText">
              <p class="header-2">Назначение</p>
              <p>
                Изделие предназначено для выявления и определения мест
                размещения на человеке (верхняя или нижняя часть тела) носимых
                малогабаритных радиоэлектронных устройств (МРЭУ) (средств аудио-
                и видеозаписи, средств связи, частей самодельных взрывных
                устройств и т.д.). </p>
              <p>  Изделие в автоматическом режиме регистрирует
                МРЭУ размещенное на теле человека при проходе его через
                «NR-2000R» и выдает сигнал тревоги на пульт управления. Пульт
                управления и отображения информации со специальным ПО
                обеспечивает регистрацию каждого прохода через изделие с
                фиксацией даты и времени, с функцией просмотра архива
                оператором, а также возможность интеграции изделия с системами
                контроля и управления доступом с использованием
                стандартизированных протоколов. Эффективно обнаруживает
                малоразмерные цели (СИМ-карты, миниатюрные электронные
                устройства).
              </p>
            </div>
            <div data-index="2" class="innerText">
              <p class="header-2">Технические характеристики</p>


              <div class="scroll-table">
                <div class="scroll-table-body">
                    <table >
                        <tbody>
                            <tr>
                                <td style="width:60%">Частота сигнала зондирования</td>
                                <td>(2,4±0,1) ГГц</td>
                            </tr>
                            <tr>
                                <td>Средняя мощность зондирующего сигнала</td>
                                <td>не более 0,2 Вт</td>
                            </tr>
                            <tr>
                                <td>Вероятность обнаружения МРЭУ у человека составляет</td>
                                <td>не менее 0,9 (ошибка второго рода – пропуск – не более 0,1) при доверительной вероятности 0,8</td>
                            </tr>
                            <tr>
                                <td>Вид модуляции </td>
                                <td>амплитудно-импульсная</td>
                            </tr>
                            <tr>
                                <td>Вероятность ложной тревоги изделия (ошибка первого рода)</td>
                                <td> не более 0,1</td>
                            </tr>  
                        </tbody>
                    </table>
                </div>
            </div>

            </div>
          </div>
        </div>
        <div class="image-2-3">
          <img src="../assets/locator/nr-2000r.png" />
        </div>
      </div>

      <div class="footer">
        <button class="button" onclick="nextPage('desktop-2-3-4.html')">
          Назад
        </button>
        <button class="button" onclick="nextPage('desktop-2-3.html')">
          Меню
        </button>
      </div>
    </div>
    <script src="../app/mouseClick.js"></script>
  </body>
</html>
