<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-7.css"/>
</head>
<body>
<div class="desktop-2-1">
  <p class="header">Работа с изделием</p>
  <div class="desktop-4">
    <div class="text-desktop-4">
    
          <div class="text">
            <p>8. Включить изделие и проверить его работоспособность в соответствии с пунктами 1 – 7 . 
            </p>
          </div>
          <div class="text">
            <p>
              9.  Провести поиск полупроводниковых элементов, работая по возможности с максимальной 
              мощностью излучения и максимально возможной чувствительностью приемников, что обеспечивает максимальную дальность обнаружения. 
              </p>
          </div>
          
          <div class="important">
            <p>Уровни выходной мощности и чувствительности приемников в конкретных условиях определяются 
              помеховой обстановкой (как наличием внешних сигналов на частотах приема, так и наличием нелинейных отражателей, которые невозможно 
              удалить из зоны обследования). 
            </p>
          </div>
          
          <img class="icon" src="../assets/desk-7/icon-1.png">

    </div>
  <div class="flesh">
    <img class="image" src="../assets/desk-7/img-1.png">
  </div>
  <div class="footer">
    <button class="button" onclick="nextPage('desktop-1.html')">Меню</button>
    <button class="button" onclick="nextPage('desktop-7-1.html')">Далее</button>
  </div>
</div>

<script src="../app/index.js"></script>
</body>
</html>