<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-1.css"/>
</head>
<body>
<div class="desktop_1">
  <p class="header">Главное меню</p>
  <div class="group_main_menu"> 
    <div class="group_menu_buttons">
      <button class="button button1" onclick="nextPage('desktop-2.html')">Общая&nbspинформация</button>
      <button class="button button1" onclick="nextPage('desktop-2.html')">Структурные&nbspсхемы</button>
      <button class="button button1" onclick="nextPage('desktop-2.html')">Электрические&nbspсхемы</button>
      <button class="button button1" onclick="nextPage('desktop-2.html')">Конструкция</button>
      <button class="button button1" onclick="nextPage('desktop-2.html')">Глоссарий</button>
      <button class="button button1" onclick="nextPage('desktop-2.html')">О&nbspпрограмме</button>
      <button class="button button1" onclick="nextPage('desktop-2.html')">Выход</button>
    </div>
    <div class="image"><img src="../assets/nr2.png"></div>
  </div>
</div>
<script src="../app/index.js"></script>
</body>
</html> 