<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-1.css"/>
</head>
<body>
    <div class="group_menu_buttons">
      <p class="header">Общая информация</p>
      <button class="button button1" onclick="nextPage('desktop-2-1.html')">Назначение</button>
      <button class="button button1" onclick="nextPage('desktop-2-2-1.html')">Общие сведения</button>
      <button class="button button1" onclick="nextPage('desktop-2-6.html')">Принцип действия</button>
      <button class="button button1" onclick="nextPage('desktop-2-3.html')">Виды локаторов</button>
      <button class="button button1" onclick="nextPage('desktop-2-5.html')">Перечень оборудования</button>
      <button class="button-menu button1" onclick="nextPage('desktop-1.html')">Меню</button>
    </div>
<script src="../app/index.js"></script>
</body>
</html>