<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-3.css"/>
</head>
<body>
<div class="desktop_2-1">
  <p class="header">Перечень оборудования</p>
  <img src="../assets/map_asset.png" alt="Workplace" usemap="#workmap" width="666" height="500">
  <map name="workmap">
    <area shape="poly" coords="19,188, 323,43, 397,110, 387,186, 113,350, 19,188"  title="Сумка-укладка">
    <area shape="circle" coords="474,81,73" alt="Headphones" title="Телефоны головные">
  </map>

  <button class="button button1" onclick="nextPage('desktop-2.html')">Назад</button>
</div>
<script src="../app/index.js"></script>
</body>
</html>