<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/desktop-2-3.css" />
  </head>
  <body>
    <div class="desktop-2-3">
      <p class="header">NR-900EMS</p>
      <p class="header-3-1">Профессиональный нелинейный локатор</p>
      <div class="desktop-2-3-1">
        <div class="group-desktop-2-3-1">
          <div class="box pastries" id="pastries">
            <button data-target="1" class="box item">Назначение</button>
            <button data-target="2" class="box item">
              Технические характеристики
            </button>
          </div>
          <div class="box" id="textInfo">
            <div data-index="1" class="innerText">
              <p class="header-2">Назначение</p>
              <p>
                Нелинейный радиолокатор NR-900EMS предназначен для поиска
                скрытно установленных технических средств съема информации,
                содержащих полупроводниковые компоненты. Изделие позволяет
                выявлять указанные средства вне зависимости от их
                функционального состояния, т.е. находящиеся как во включенном,
                так и выключенном состоянии. </p>
                <p>Изделие обеспечивает эффективный
                поиск и достоверное определение местоположения объектов поиска в
                ограждающих строительных конструкциях (пол, потолок, стены), а
                также в мебели и других предметах интерьера. Изделие
                предоставляет оператору возможность отличить электронные
                устройствам промышленного производства, к которым относятся
                объекты поиска, от естественных (коррозийных) нелинейных
                отражателей.
              </p>
            </div>
            <div data-index="2" class="innerText">
              <p class="header-2">Технические характеристики</p>
              <div class="scroll-table">
                <div class="scroll-table-body">
                    <table >
                        <tbody>
                            <tr>
                                <td style="width:60%">Несущая частота зондирующего сигнала передатчика </td>
                                <td>848 МГц</td>
                            </tr>
                            <tr>
                                <td>Режимы работы</td>
                                <td>«Поиск», «20К»</td>
                            </tr>
                            <tr>
                                <td>Индикация уровня принимаемых сигналов</td>
                                <td>световая, звуковая</td>
                            </tr>
                            <tr>
                                <td>Динамический диапазон приемников </td>
                                <td>не менее 40 дБт</td>
                            </tr>
                            <tr>
                                <td>Поляризация антенн </td>
                                <td>круговая</td>
                            </tr>
                            <tr>
                                <td>Ослабление мощности зондирующего сигнала</td>
                                <td>одна ступень, 9 дБ</td>
                            </tr>
                            <tr>
                                <td>Ослабление уровня входного сигнала приемников </td>
                                <td>минус 10, 20, 30, 40, 50 дБ</td>
                            </tr>      
                        </tbody>
                    </table>
                </div>
            </div>
              
            </div>
          </div>
        </div>
        <div class="image-2-3">
          <img src="../assets/locator/nr-900ems.png" />
        </div>
      </div>

      <div class="footer">
        <button class="button" onclick="nextPage('desktop-2-3-1.html')">
          Назад
        </button>
        <button class="button" onclick="nextPage('desktop-2-3.html')">
          Меню
        </button>
        <button class="button" onclick="nextPage('desktop-2-3-3.html')">
          Далее
        </button>
      </div>
    </div>
    <script src="../app/mouseClick.js"></script>
  </body>
</html>
