<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-2.css"/>
</head>
<body>
<div class="desktop-2-1">
  <p class="header">Ложные срабатывания</p>
  <div class="text">
      <p>
        Для локаторов нелинейностей характерны ложные срабатывания (МОМ-диоды), поэтому одна лишь регистрация 2-й и 3-й гармоник в отраженном сигнале не является 
        достаточным условием обнаружения закладных устройств. Необходимо проанализировать соотношение амплитуд отраженных сигналов на этих гармониках. При облучении 
        нелинейным радиолокатором чистого полупроводникового соединения возникает сильный сигнал 2-й и слабый сигнал 3-й гармоник. МОМ-диод имеет обратное соотношение 
        амплитуд — слабый сигнал на 2-й и сильный на 3-й гармонике.  </p> 
      <p>Таким образом, сравнительный анализ уровней 2-й и 3-й гармоник позволяет оператору провести
        анализ их источников. Причина подобных различий заключается в разных вольтамперных характеристиках (ВАХ) чистых полупроводников и МОМ-диодов. На рисунке ниже
        представлены типовые ВАХ для чистого полупроводника и МОМ-диода.</p> 
      <div class="image" align="center"><img src="../assets/loznie.png"></div>
  </div>
  <div class="footer">
    <button class="button" onclick="nextPage('desktop-2-2-2.html')">Назад</button>
    <button class="button" onclick="nextPage('desktop-2.html')">Меню</button>
    <button class="button" onclick="nextPage('desktop-2-2-4.html')">Далее</button>
  </div>
</div>
<script src="../app/index.js"></script>
</body>
</html>