<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/desktop-2-3.css" />
  </head>
  <body>
    <div class="desktop-2-3">
      <p class="header">NR-2000</p>
      <p class="header-3-1">Многофункциональный нелинейный локатор</p>
      <div class="desktop-2-3-1">
        <div class="group-desktop-2-3-1">
          <div class="box pastries" id="pastries">
            <button data-target="1" class="box item">Назначение</button>
            <button data-target="2" class="box item">
              Технические характеристики
            </button>
          </div>
          <div class="box" id="textInfo">
            <div data-index="1" class="innerText">
              <p class="header-2">Назначение</p>
              <p>
                <p>Детектор нелинейных переходов «NR-2000» предназначен для поиска скрытно установленных электронных устройств, содержащих 
                  полупроводниковые компоненты, таких как радиомикрофонов, проводных микрофонов, средств звуко- и видео записи, Sim карты, 
                  электронные таймеры, ИУ СВУ и т.п., находящихся как во включенном, так и в выключенном состоянии. </p>
                <p>Изделие обеспечивает эффективный поиск и высокую степень локализации местоположения искомых объектов в ограждающих 
                  строительных конструкциях (пол, потолок, стены), в предметах интерьера и мебели. </p>
                <p>Изделие обеспечивает оператору возможность отличить искомые объекты от естественных (коррозионных) нелинейных отражателей.</p>
              </p>
            </div>
            <div data-index="2" class="innerText">
              <p class="header-2">Технические характеристики</p>
                
              <div class="scroll-table">
                <div class="scroll-table-body">
                    <table >
                        <tbody>
                            <tr>
                                <td style="width:60%">Вид модуляции</td>
                                <td>амплитудно-импульсная</td>
                            </tr>
                            <tr>
                                <td>Режимы работы</td>
                                <td>«Поиск», «20К»</td>
                            </tr>
                            <tr>
                                <td>Индикация уровня принимаемых сигналов</td>
                                <td>световая, звуковая</td>
                            </tr>
                            <tr>
                                <td>Средняя мощность СВЧ сигнала в режиме поиска</td>
                                <td>не более 200мВт</td>
                            </tr>
                            <tr>
                                <td>Плавная регулировка выходной мощности зондирующего сигнала  </td>
                                <td>до -15Дб с шагом 1 дБ </td>
                            </tr>
                            <tr>
                                <td>Питание </td>
                                <td>LiION аккумулятор 7,4 В </td>
                            </tr>
                            <tr>
                                <td colspan="2">Время непрерывной работы от одного комплекта аккумуляторов</td>
                            </tr>
                            <tr>
                                <td>режим поиска </td>
                                <td>не менее 4 часов</td>
                            </tr>
                            <tr>
                                <td>режим 20К</td>
                                <td>не менее 1,5 часа </td>
                            </tr>      
                            <tr>
                                <td>Масса снаряженного прибора (со встроенным аккумулятором)  </td>
                                <td>не более 2,2 кг </td>
                            </tr>      
                            <tr>
                                <td>Масса изделия в штатной упаковке </td>
                                <td>не более 5,5 кг </td>
                            </tr>      
                            <tr>
                                <td>Показания шкалы «2» индикатора при облучении штатного имитатора на расстоянии 1±0,05 м при минимальных мощности и ослаблении, дБ </td>
                                <td>не менее 30 </td>
                            </tr>
                            <tr>
                                <td>Максимальная импульсная мощность излучаемого сигнала, Вт </td>
                                <td>не менее 17 </td>
                            </tr>
                            <tr>
                                <td>Ослабление мощности излучаемого сигнала </td>
                                <td>8 ступеней по 1,5 дБ </td>
                            </tr>
                            <tr>
                                <td>Ослабление уровней входных сигналов приемников </td>
                                <td>4 ступени по 10 дБ</td>
                            </tr>
                            <tr>
                                <td>Индикация уровня принимаемых сигналов </td>
                                <td>визуальная, звуковая </td>
                            </tr>
                            <tr>
                                <td colspan="2">Условия эксплуатации: </td>
                            </tr>
                            <tr>
                                <td>диапазон рабочих температур </td>
                                <td>(5 … 40)°C </td>
                            </tr>
                            <tr>
                                <td>предельные пониженная и повышенная температуры </td>
                                <td>(минус 20 … 50)°C </td>
                            </tr>
                            <tr>
                                <td>максимальная относительная влажность воздуха </td>
                                <td>85% (при 25°C) </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
              
            </div>
          </div>
        </div>
        <div class="image-2-3">
          <img src="../assets/locator/nr-2000.png">
        </div>
      </div>

      <div class="footer">
        <button class="button" onclick="nextPage('desktop-2-3.html')">Меню</button>
        <button class="button" onclick="nextPage('desktop-2-3-2.html')">Далее</button>
      </div>
    </div>
    <script src="../app/mouseClick.js"></script>
  </body>
</html>
