<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-1.css"/>
</head>
<body>
    <div class="group_menu_buttons">
      <p class="header">Структурные схемы</p>
      <button class="button-desktop-3" onclick="nextPage('desktop-3-1.html')">Обобщённая структурная схема нелинейного локатора</button>
      <button class="button-desktop-3" onclick="nextPage('desktop-3-2.html')">Работа нелинейного локатора при обнаружении ложного соединения </button>
      <button class="button-desktop-3" onclick="nextPage('desktop-3-3.html')">Работа нелинейного локатора при обнаружении полупроводника</button>
      <button class="button-menu" onclick="nextPage('desktop-1.html')">Меню</button>

    </div>

<script src="../app/index.js"></script>
</body>
</html> 