<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-7.css"/>
</head>
<body>
<div class="desktop-2-1">
  <p class="header">Работа с изделием</p>
  <div class="desktop-4">
    <div class="text-desktop-4">
    
          <div class="text">
            <p>11. Сравнивая уровни принимаемых сигналов 2-ой и 3-ей гармоник можно сделать вывод об источнике сигнала-отклика.  </p>
          </div>
          <div class="text">
            <p>Существенное превышение 2-ой 
              гармоники зондирующего сигнала над 3-ей гармоникой с высокой степенью вероятности свидетельствует о наличии 
              в зоне облучения изделия <b style="color:#484282">полупроводниковых 
                элементов.</b> </p>
          </div>
          <div class="text">
            <p>Существенное превышение уровня сигнала 3-ей гармоники над 2-ой свидетельствует, что наиболее вероятно источником сигнала-отклика является 
              <b style="color:#484282">коррозионный нелинейный отражатель.</b></p>
          </div>
          <div class="text">
            <p>При идентификации обнаруженного объекта помогает режим «20К». Естественные коррозионные нелинейные отражатели (соприкасающиеся окисленные куски металла) имеют неустойчивые контакты. При механическом воздействии (постукивании) в зоне обнаруженного такого отражателя в головных
              телефонах прослушивается характерный звук - хрипы и трески
              соответствующие ритму механического воздействия. Искусственные объекты (механизмы) имеют более устойчивые контакты и дают слабую реакцию на механические воздействия. Работающие механизмы, например часовые, создают периодический
              сигнал и без внешнего воздействия. </p>
          </div>
          
          

    </div>
  <div class="flesh">
    <img class="image" src="../assets/desk-7/gif-2.gif">
  </div>
  <div class="footer">
    <button class="button" onclick="nextPage('desktop-7-1.html')">Назад</button>
    <button class="button" onclick="nextPage('desktop-1.html')">Меню</button>
    <button class="button" onclick="nextPage('desktop-7-3.html')">Далее</button>
  </div>
</div>

<script src="../app/index.js"></script>
</body>
</html>