<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-2.css"/>
</head>
<body>
<div class="desktop-2-1">
    <p class="header">Принцип действия</p>
    <div class="text">
        <p>Детектор NR-2000 представляет собой портативное устройство, состоящее из антенной системы, передатчика зондирующего сигнала и 2 приемников, 
          настроенных на удвоенную и утроенную частоты сигнала передатчика.</p>
        <p>Моногармонический зондирующий сигнал, излучаемый передатчиком, преобразуется нелинейными элементами (полупроводниковых или коррозионных 
          металлокисел-металл) в полигармонический и повторно излучается в окружающее пространство.</p>  
        <p>Переизлученные сигналы второй и третьей гармоники частоты сигнала передатчика принимаются и обрабатываются приёмниками. Уровни принимаемых 
          сигналов отображаются двумя гистограммными шкалами: "2" (красный) и "3" (зеленый) соответственно. Он индицируется и в виде тонального сигнала 
          в головных телефонах, уровень громкости которого пропорционален уровню принятого сигнала.</p>
    </div>
    <div class="image"><img src="../assets/desktop-2-6.png"></div>
    <div class="footer">
      <button class="button" onclick="nextPage('desktop-2.html')">Меню</button>
    </div>
</div>
<script src="../app/index.js"></script>
</body>
</html>