<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/desktop-2.css"/>
</head>
<body>
<div class="scroll-desktop desktop-2-1" >
  <p class="header">Назначение</p>
  <div class="text">
      <p>Поиск закладных устройств, а также любых других радиоэлектронных устройств,
        которые могут и не использовать для передачи информации радиоканал, представляет
        собой важную задачу. При этом радиоэлектронные или закладные устройства должны
        быть обнаружены независимо от того, включены они или нет (то есть находятся они в
        активном состоянии или в состоянии ожидания включения). Визуально их трудно
        найти, так как они чаще всего закамуфлированы под детали интерьера, спрятаны в элементах строительных конструкций или в других предметах. Для их обнаружения применяются такие поисковые устройства, как нелинейные локаторы, позволяющие обнаруживать любые нелинейные свойства полупроводников, которые входят в состав
        закладных или радиоэлектронных устройств любого назначения.
        </p>
  </div>
  <div class="image" align="center"><img src="../assets/naznachenie.png"></div>
  <div class="footer">
    <button class="button" onclick="nextPage('desktop-2.html')">Назад</button>
    <button class="button" onclick="nextPage('desktop-2.html')">Меню</button>
    <button class="button" onclick="nextPage('desktop-2-2-1.html')">Далее</button>
  </div>
</div>
<script src="../app/index.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>