<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  
  <link rel="stylesheet" href="../styles/about.css"/>
</head>
<body>
<div class="desktop-2-1">
  <p class="header">Справка</p>
  <div class="text">
      <p>Для создания данного электронного учебного пособия использовались данные из открытых источников, научной литературы и официальных сайтов производителя оборудования. </p> 
      <p>Список литературы по детектору нелинейных переходов NR-200:</p> 
      <p>1. <a href="../assets/NR-2000.pdf">Руководство по эксплуатации (PDF)</a></p> 
      <p>2. <a href="../assets/EPIDEMY-2000.pdf">Санитарно-эпидемиологическое заключение (PDF)</a></p> 
     
  </div>
  <div class="footer">
    <button class="button" onclick="nextPage('desktop-1.html')">Меню</button>
  </div>
</div>
<script src="../app/index.js"></script>
</body>
</html>