<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <img src="https://i.ibb.co/vJvRnhN/1.jpg" usemap="#image-map" class="map">

  <map name="image-map">
    <area target="" alt="" title="" href="" coords="409,376,233,197" shape="rect">
    <area target="" alt="" title="" href="" coords="342,386,237,386,234,513,257,515,255,482,311,481,311,508,317,516,345,516,345,387" shape="poly">
    <area target="" alt="" title="" href="" coords="358,389,462,446" shape="rect">
    <area target="" alt="" title="" href="" coords="467,514,366,462" shape="rect">
    <area target="" alt="" title="" href="" coords="563,364,426,203" shape="rect">
    <area target="" alt="" title="" href="" coords="567,414,480,390" shape="rect">
</map>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="https://projects.davidlynch.org/maphilight/jquery.maphilight.min.js"></script>
  <script>
    $(function() {
      $('.map').maphilight();
    });
  </script>

</body>

</html>