<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/test.css"/>
</head>
<body>
<div class="desktop_2-1">
  <p class="header">Перечень оборудования</p>
  <div class="desktop-2-3">
    
    <img class="image" id='theImg' src="../assets/map_asset.jpeg" width="900">
    <canvas class="canvas" id='myCanvas' width='900' height='675'></canvas>
    <div class="table-desktop-2-3" id="tableInfo">
      <table style="width:45%">  
      <tbody>
          <tr id='draw-btn' type='button' value='Draw' onmouseover='Draw1()' onmouseout="Clear()">
            <td>1</td>    
            <td><a href="desktop-5.html">Блок радиолокационный </a></p> </td>
          </tr>

          <tr id='draw-btn' type='button' value='Draw' onmouseover='Draw2()' onmouseout="Clear()">
            <td>2</td>
            <td>Аккумулятор Soshine 18650</td>
          </tr>

          <tr id='draw-btn' type='button' value='Draw' onmouseover='Draw3()' onmouseout="Clear()">
            <td>3</td>
            <td>Телефоны головные</td>
          </tr>

          <tr id='draw-btn' type='button' value='Draw' onmouseover='Draw4()' onmouseout="Clear()">
            <td>4</td>
            <td>Фонарь</td>
          </tr>

          <tr id='draw-btn' type='button' value='Draw' onmouseover='Draw5()' onmouseout="Clear()">
            <td>5</td>
            <td>Кронштейн</td>
          </tr>

          <tr id='draw-btn' type='button' value='Draw' onmouseover='Draw6()' onmouseout="Clear()">
            <td>6</td>
            <td>Зарядное устройство Soshine SC-S1 с адаптерами: сетевым (9) и автомобильным (10) </td>
          </tr>

          <tr id='draw-btn' type='button' value='Draw' onmouseover='Draw7()' onmouseout="Clear()">
            <td>7</td>
            <td>Имитатор</td>
          </tr>

          <tr id='draw-btn' type='button' value='Draw' onmouseover='Draw8()' onmouseout="Clear()">
            <td>8</td>
            <td>Сумка-укладка</td>
          </tr>
  
      </tbody>
      </table>
    </div>
    
   
  </div>
  <div class="footer">
    <button class="button" onclick="nextPage('desktop-2-1.html')">Назад</button>
    <button class="button" onclick="nextPage('desktop-2.html')">Меню</button>
    <button class="button" onclick="nextPage('desktop-2-2-2.html')">Далее</button>
  </div>
  
</div>
<script src="../app/test.js"></script>
</body>
</html>