@font-face {

  font-family: Intro;
  src: url(../font/intro-regular.ttf);
  }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Intro", sans-serif;
  margin: 0;
}

.header {
  font-size: 24pt;
  font-weight: 550;
  color: #484282;
}

.button {
  border: solid 5px #484282;
  align-self: center;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.button1 {
  border: solid 5px #484282;
}

.button1:hover {
  border: solid 5px #e69b45;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}